<div class="meetings-container">
  <h2 class="page-title">Lists</h2>

<!--
  <div class="list-index">
    <%# <% current_user.lists.each do |list| %> %>
      <div class="list-item">
        <%# <h3><%= list.name %></h3> %>
        <%# <p>Books: <%= list.books.count %></p> %>
        <%# <a href="<%= list_path(list) %>">View List</a> %>
      <%# </div> %>
    <%# <% end %>
  </div>
</div>
-->

<div class="list-index">

  <%# <% @lists.each do |list| %>
  <%# <div class="list-item"> %>
    <%# <h3><%= list.name</h3> %>
    <%# <h1><%= list.books.count</h1> %>
    <%# <%= link_to list_path(list), class: "btn btn-primary" do %>
      <%# View List %>
    <%# <% end %>
  <%# </div> %>
<%# <% end %>

  <div class="list-item">
    <h3>TBA List </h3>
    <h1> 8 </h1>
     <%= link_to list_path(list), class: "btn btn-primary" do %>
    View List
  <% end %>
  </div>

  <div class="list-item">
    <h3>Read List</h3>
    <h1> 8 </h1>

  </div>
  <div class="list-item">
    <h3>Currently Reading</h3>
     <h1> 8 </h1>

  </div>
</div>
