<div class = "form-new">
 <div class="container p-5 mt-5">
  <div  class="row justify-content-center">
    <div  class="col-12 col-lg-6">



<h2>Create a New List</h2>

<%= form_with model: @list, local: true do |f| %>
  <div class="input-box" style="gap: 20px; display: flex; flex-direction: column; text-align: left;   border-radius: 50px;">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class = "buttons">
  <%= f.submit "Create List", class: "btn btn-primary"  %>
  </div>
<% end %>

<div class = "buttons">
<%# <%= link_to "Back to Lists", lists_path, class: "btn btn-secondary" %> %>
</div>

</div>

</div>
</div>
</div>
