<h1>Meetings</h1>
<ul>
  <% @meetings.each do |meeting| %>
    <li>
      <strong>Book:</strong> <%= meeting.book.title %><br>
      <strong>Club:</strong> <%= meeting.club.name %><br>
      <strong>Location:</strong> <%= meeting.location %><br>
      <strong>Date:</strong> <%= meeting.date.strftime("%B %d, %Y") %><br>
      <strong>Status:</strong> <%= meeting.status %>
    </li>
  <% end %>
</ul>
