<!-- Club Meeting SHOW Page -->

<div class="show-container">
  <div class="cover-circle"><img src="<%= @meeting.book.cover_url %>" ></div>
  <h2 class="page-title"><%= @meeting.book.title %></h2>

  <div class="meeting-show-card">

<h1>Club Meeting Details</h1>

<p><strong>Book:</strong> <%= @meeting.book.title %></p>
<p><strong>Club:</strong> <%= @meeting.club.name %></p>
<p><strong>Location:</strong> <%= @meeting.location %></p>
<p><strong>Date:</strong> <%= @meeting.date.strftime("%B %d, %Y at %I:%M %p") %></p>
<p><strong>Status:</strong> <%= @meeting.status %></p>

<div class="buttons">
<%= link_to 'Back to Meetings', meetings_path , class: "btn btn-primary"%>
</div>

  </div>
  <div class="notes-section">
    <h3>Notes</h3>
    <p>.......................................................</p>
    <p>.......................................................</p>
    <p>.......................................................</p>
    <p>.......................................................</p>
  </div>
</div>
