<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path %>">
     <%# <img src="https://res.cloudinary.com/do1nrl43q/image/upload/v1738456047/Logo_c_reo7ar.png" /> %>
    </a>

    <div class="bookshelf">
<div class="book-s"></div>
<div class="book-l ro"></div>
<div class="book-m"></div>
<div class = "gap"></div>
<div class="book-s"></div>
<div class="book-m"></div>
<div class="book-m ro"></div>
<div class="book-l"></div>
<div class = "gap"></div>
<div class="book-m"></div>
<div class="book-s"></div>
<div class = "gap"></div>
<div class="book-l"></div>
<div class="book-m"></div>
    </div>


    <button class="books-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
       <div class="ro90"></div>
       <div class="ro90"></div>
       <div class="ro90"></div>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <% if user_signed_in? %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Library", books_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Meetings", meetings_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "My Lists", lists_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Account", edit_user_registration_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Change Password", edit_user_password_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
             <%= link_to destroy_user_session_path, data: { turbo_method: :delete }, class: "nav-link" do %>
             "Sign Out"
            <%# <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "nav-link" %>
              <% end %>
          </li>
        </ul>
      <% else %>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <%= link_to "Login", new_user_session_path, class: "nav-link" %>
          </li>
          <li class="nav-item">
            <%= link_to "Sign Up", new_user_registration_path, class: "nav-link" %>
          </li>
        </ul>
      <% end %>




    </div>
  </div>
</nav>
