<div class ="books-page">

<div  class="row justify-content-center">
  <div class="col-12 col-lg-6">

<h1 class="page-title">Library</h1>

<div class="books-index">

<h2>Search for Books</h2>

<%= form_with url: books_path, method: :get, local: true do %>
  <input type="text" name="query" placeholder="Enter book title..." value="<%= params[:query] %>">
  <button type="submit">Search</button>
<% end %>


<% if @books.any? %>
  <h3 style="  display: flex; align-items: center; justify-content: center; padding:10%;">Search Results:</h3>
  <div class="books-container">
    <% @books.each do |book| %>
      <div class="book-card">
        <div class="book-cover">
          <% if book[:cover_url] %>
            <img src="<%= book[:cover_url] %>" alt="<%= book[:title] %> cover" class="book-image">
          <% else %>
            <div class="book-image-placeholder"></div>
          <% end %>
        </div>
        <div class="book-info">
          <h4><%= book[:title] %></h4>
          <p><strong>Author:</strong> <%= book[:authors] %></p>
                    <p>Published: <%= book[:publication_year] %></p>
           <% if book[:average_rating].present? && book[:average_rating] != "No rating"  %>
           <p> <strong>Rating:</strong> <%= book[:average_rating] %> / 5</p>
           <% end %>
          <%= link_to "View Details", book_path(book[:google_id]), class: "view-details" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p>No books yet. Try searching above!</p>
  <div class="stacked-container">
        <div class="stacked-item item1"></div>
        <div class="stacked-item item2"></div>
        <div class="stacked-item item3"></div>
        <div class="stacked-item item4"></div>
        <div class="stacked-item item5"></div>
        <div class="stacked-item item6"></div>
        <div class="stacked-item item7"></div>
    </div>
<% end %>

</div>
</div>
</div>
</div>
