<div class ="show-container" id = "book-page">

<div class="buttons mt-1">
  <%= link_to "Back to Search", books_path, class: "btn btn-secondary" %>


  <% if @lists.any? %>
    <%= form_with url: add_book_to_list_path, method: :post, local: true do |f| %>
      <div class="form-group mb-2">
        <%= f.label :list_id, "Select a List" %>
        <%= f.select :list_id, options_from_collection_for_select(@lists, :id, :name), {}, class: "form-control" %>
      </div>
      <%= hidden_field_tag "book[google_id]", @book[:google_id] %>
      <%= hidden_field_tag "book[title]", @book[:title] %>
      <%= hidden_field_tag "book[cover_url]", @book[:cover_url] %>
      <%= hidden_field_tag "book[overview]", @book[:description] || "No description available." %>

      <%= f.submit "Add Book to List", class: "btn btn-primary" %>
    <% end %>
  <% else %>
    <p>You don't have any lists yet. <%= link_to "Create one", new_list_path %></p>
  <% end %>
</div>




<div class= "line"></div>

<div class="container mt-4">
   <div  class="row justify-content-center">
     <div class="col-12 col-lg-6">


<div class="book-details">
<h2><%= @book[:title] %></h2>
  <div class="book-cover mt-4">
<% if @book[:cover_url] %>
  <img src="<%= @book[:cover_url] %>" alt="<%= @book[:title] %>" width="200">
<% end %>
</div>

 <div class="book-metadata">
<p><strong>Author:</strong> <%= @book[:authors] %></p>
<p><strong>Published:</strong> <%= @book[:publication_year] %></p>
<p><strong>Pages:</strong> <%= @book[:page_count] %></p>
<p><strong>Categories:</strong> <%= @book[:categories].split("/ ").take(5).join(", ") %></p>
<p><strong>Rating:</strong> <%= @book[:average_rating] %> / 5</p>
</div>

<div class= "line"></div>

  <div class="notes-section" id = "book-overview">
    <div>
      <%= raw @book[:overview] %>
    </div>
  </div>
</div>

<div class = "container mt-4">
  <h2>Reviews</h2>
</div>

</div>
</div>
</div>

</div>
